<form class="add-comment-form mt-5"> 
<div class="text-center blog-container">
    <h2 class="text-2xl mb-3">Add a comment:</h2>
  <textarea class="form-input w-full mt-1 px-2 h-auto text-black mr-5 block p-2.5 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="comment_text"></textarea>
  <p class="my-5">
    <button class="btn-comment text-2xl" id="showing" type="submit" style="background-color:#6DB1D8">submit</button>
  </p>
</div>
</form>
</div>